<div class="device">
	<img src="@img/device-1.jpg" alt="" class="device__img">
	<div class="device__info">
		<h2 class="device__title"></h2>
		<p class="device__description"></p>
		<span class="device__price">1500 руб.</span>
		<div class="device__btn-group">
			<button class="device__buy">Купить сейчас</button>
			<a href=""><a href=""><span class="hero__more">Подробнее</span></a>
		</div>
	</div>
</div>
<div class="device">
	<img src="@img/device-2.jpg" alt="" class="device__img">
	<div class="device__info">
		<h2 class="device__title"></h2>
		<p class="device__description"></p>
		<span class="device__price">1500 руб.</span>
		<div class="device__btn-group">
			<button class="device__buy">Купить сейчас</button>
			<a href=""><a href=""><span class="hero__more">Подробнее</span></a>
		</div>
	</div>
</div>
<div class="device">
	<img src="@img/device-3.jpg" alt="" class="device__img">
	<div class="device__info">
		<h2 class="device__title"></h2>
		<p class="device__description"></p>
		<span class="device__price">1500 руб.</span>
		<div class="device__btn-group">
			<button class="device__buy">Купить сейчас</button>
			<a href=""><a href=""><span class="hero__more">Подробнее</span></a>
		</div>
	</div>
</div>
<div class="device">
	<img src="@img/device-4.jpg" alt="" class="device__img">
	<div class="device__info">
		<h2 class="device__title"></h2>
		<p class="device__description"></p>
		<span class="device__price">1500 руб.</span>
		<div class="device__btn-group">
			<button class="device__buy">Купить сейчас</button>
			<a href=""><a href=""><span class="hero__more">Подробнее</span></a>
		</div>
	</div>
</div>
<div class="device">
	<img src="@img/device-5.jpg" alt="" class="device__img">
	<div class="device__info">
		<h2 class="device__title"></h2>
		<p class="device__description"></p>
		<span class="device__price">1500 руб.</span>
		<div class="device__btn-group">
			<button class="device__buy">Купить сейчас</button>
			<a href=""><a href=""><span class="hero__more">Подробнее</span></a>
		</div>
	</div>
</div>
<div class="device">
	<img src="@img/device-6.jpg" alt="" class="device__img">
	<div class="device__info">
		<h2 class="device__title"></h2>
		<p class="device__description"></p>
		<span class="device__price">1500 руб.</span>
		<div class="device__btn-group">
			<button class="device__buy">Купить сейчас</button>
			<a href=""><a href=""><span class="hero__more">Подробнее</span></a>
		</div>
	</div>
</div>