h2 {
    @include font (4rem, 5.5rem, 800, left);
    color: #2F3B3F;
    align-self: flex-start;
}

h3 {
    color: #FFF;
}

h4 {
    @include font (3rem, 4.1rem, 700, left);
    color: #2F3B3F;
}

p {
    text-align: left;
    color: #2F3B3F;

}